@model RecipeApplication.Recipe

@{
    ViewBag.Title = "Details";
}

<h2>Recipe Details</h2>

<div padding:5px;>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrepTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrepTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CookTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CookTime)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.RecipeCategory.CatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeCategory.CatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuisineType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuisineType.Name)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.RecipeIngredients)
        </dt>*@
        <dd>
            <table class="table">
                <tr>
                    <th>
                        Ingredient
                    </th>
                    <th>
                        Measurement
                    </th>
                </tr>
                @foreach (var item in Model.RecipeIngredients)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ingredient.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Measurement)
                        </td>
                        <td>
    
                            @Html.ActionLink("Delete", "Delete", "RecipeIngredients", new { id = item.Id }, null)
                        </td>

                    </tr>
                }
            </table>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procedures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procedures)
        </dd>



    </dl>
</div>





<p>
    <input type="button" value="Add Ingredient" class="btn btn-default" onclick="window.location.href='@Url.Action("Create","RecipeIngredients",new { id = Model.Id }, null)' " />
    <input type="button" value="Back" class="btn btn-default" onclick="window.location.href='@Url.Action("Index")' "/>
    @*@Html.ActionLink("Add Ingredient", "Create", "RecipeIngredients", new { id = Model.Id }, null)  |
    @Html.ActionLink("Back to List", "Index")*@
</p>

